<header>
    <div id="overlay">
        <ul class="text-center list-none text-white text-3xl">
            
           
            <li class="p-2">
                <a href="/blog/">
                    <span>PROJET</span>
                </a>
            </li>
            <li class="p-2">
                <a href="/about/">
                    <span>NOUS</span>
                </a>
            </li>
            <li class="p-2">
                <a href="/contact/">
                    <span>CONTACT</span>
                </a>
            </li>
            
        </ul>

    </div>

    
    <nav class="flex items-center justify-between flex-wrap bg-opacity-100 p-8">

        <div class="logo_light">
            <div class="flex items-center flex-shrink-0 text-xl text-grey-900 mr-6">
                <a href="{{ .Site.BaseURL }}"><img alt="{{ .Site.Params.logo.alt }}"
                        class="{{ .Site.Params.logo.size }} mr-3" src="{{ .Site.Params.logo.main | relURL }}"></a>
            </div>
        </div>
        <div class="logo_div_dark">
            <a href="/index.html">
                <img class ="logo_dark {{ .Site.Params.logo.size }} mr-3" src="/img/logo/Logo_TVJ_Blanc.PNG">
            </a>
        </div>

        <p class= "TVJ_H">TV JUSSIEU</p>

       
        {{- partial "toggle.html" . -}}
        
        <div class="block lg:hidden">
            
            <div id="hamburgerbtn" class="flex cursor-pointer items-center w-14 h-10 py-2 rounded mopen" >
                <span class="top"></span>
                <span class="middle"></span>
                <span class="bottom"></span>
               
            </div>

            
           
        </div>
        <div class="hidden w-full block flex-grow lg:flex lg:items-center lg:w-auto" id="mobileMenu">
            <div class="text-lg lg:flex-grow">
            </div>
            
            <div class="menu-header">
                <ul id="nav">
                    
           
                    <li class="p-2">
                        <a href="/blog/">
                            <span>PROJET</span>
                        </a>
                    </li>
                    <li class="p-2">
                        <a href="/about/">
                            <span>NOUS</span>
                        </a>
                    </li>
                    <li class="p-2">
                        <a href="/contact/">
                            <span>CONTACT</span>
                        </a>
                    </li>
                    
                    
                </ul>
            </div>


        </div>
    </nav>
</header>